.darktheme {
    color: white;
    transition: 0.1s ease-in, 0.1s ease-out;
  }
  
  .footer-border-white {
    border-top: 3px solid white;
  }

  .infoContainer {
    padding: 20px;
    padding-left: 25px;
  }

  .otherInfo {
    padding: 20px;
  }